@charset "utf-8";
/* CSS Document */

body{
	
}
div.slides{
	width:900px;
	overflow:hidden;
	margin: 0 auto;
	margin-top:50px;
	border-radius:30px;
}

div.accslides .train{
	width:1000px;
}

div.slides .train > div{
	width:150px;
	overflow: hidden;
	float: left;
	/* auto height by img */
}
